---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ContactForm from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout
  title="Contacta con nosotros - TTN Company"
  description="Nuestro equipo está aquí para ayudarte en cada paso del proceso."
>
  <Header />
  <main>
    <HeroSection
      tags={["contact"]}
      title="Contacta con nosotros"
      description="Estamos aquí para ayudarle con cualquier pregunta que puedas tener sobre nuestros servicios."
    />
    <ContactForm />
  </main>
  <Footer />
</Layout>
