---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import CentralizarProcesos from "../components/CentralizarProcesos.astro";
import Testimonials from "../components/Testimonials.astro";
import Newsletter from "../components/Newsletter.astro";
import Footer from "../components/Footer.astro";
import { seed } from "../../seed/seed";
---

<Layout
  title={seed.home.layout.title}
  description={seed.home.layout.description}
>
  <Header />
  <main>
    <Hero />
    <Features />
    <CentralizarProcesos />
    <Testimonials />
    <Newsletter />
  </main>
  <Footer />
</Layout>
