---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout
  title="Términos y Condiciones - TTN COMPANY"
  description="Por favor, lea estos términos y condiciones detenidamente antes de utilizar nuestro servicio."
>
  <Header />
  <main>
    <HeroSection
      highlightText="Términos"
      title="Términos y Condiciones"
      description="Por favor, lea estos términos y condiciones detenidamente antes de utilizar nuestro servicio."
    />

    <section class="py-12 bg-white dark:bg-gray-800">
      <div class="container-custom">
        <div class="prose prose-lg dark:prose-invert mx-auto text-gray-600">
          <h2 class="text-accent-500 mb-2 text-3xl">1. Introducción</h2>
          <p>
            Bienvenido a <strong>TTN COMPANY</strong>. Estos Términos y
            Condiciones regulan el uso de nuestro sitio web y servicios. Al
            acceder o utilizar nuestros servicios, usted acepta quedar vinculado
            por estos Términos.
          </p>

          <br />
          <br />
          <h2 class="text-accent-500 mb-2 text-3xl">2. Definiciones</h2>
          <p>
            "Servicio" se refiere a la plataforma <strong>TTN COMPANY</strong> y
            todos los servicios relacionados.<br />
            "Usuario" se refiere a cualquier persona o entidad que acceda o utilice
            nuestro Servicio.<br />
            "Contenido" se refiere a toda la información y materiales disponibles
            en nuestro Servicio.
          </p>

          <br />
          <br />
          <h2 class="text-accent-500 mb-2 text-3xl">3. Registro de Cuenta</h2>
          <p>
            Para utilizar ciertas funciones de nuestro Servicio, puede ser
            necesario registrarse con una cuenta. Usted acepta proporcionar
            información precisa y completa durante el proceso de registro y
            actualizarla para mantenerla actualizada.
          </p>

          <br />
          <br />
          <h2 class="text-accent-500 mb-2 text-3xl">
            4. Responsabilidades del Usuario
          </h2>
          <p>
            Usted es responsable de mantener la confidencialidad de las
            credenciales de su cuenta y de todas las actividades que ocurran
            bajo su cuenta. Se compromete a notificarnos de inmediato cualquier
            uso no autorizado de su cuenta.
          </p>

          <br />
          <br />
          <h2 class="text-accent-500 mb-2 text-3xl">
            5. Propiedad Intelectual
          </h2>
          <p>
            Todo el contenido, funciones y características de nuestro Servicio
            son propiedad de <strong>TTN COMPANY</strong> Y y están protegidos por
            leyes internacionales de derechos de autor, marcas registradas, patentes,
            secretos comerciales y otras leyes de propiedad intelectual.
          </p>

          <br />
          <br />
          <h2 class="text-accent-500 mb-2 text-3xl">
            6. Política de Privacidad
          </h2>
          <p>
            El uso que usted haga de nuestro Servicio también está regido por
            nuestra Política de Privacidad, la cual se incorpora como referencia
            en estos Términos y Condiciones.
          </p>

          <br />
          <br />
          <h2 class="text-accent-500 mb-2 text-3xl">
            7. Limitación de Responsabilidad
          </h2>
          <p>
            En ningún caso <strong>TTN COMPANY</strong> será responsable por daños
            indirectos, incidentales, especiales, consecuentes o punitivos, incluyendo,
            entre otros, la pérdida de beneficios, datos, uso, fondo de comercio
            u otras pérdidas intangibles.
          </p>

          <br />
          <br />
          <h2 class="text-accent-500 mb-2 text-3xl">
            8. Cambios en los Términos
          </h2>
          <p>
            Nos reservamos el derecho de modificar estos Términos en cualquier
            momento. Notificaremos cualquier cambio material publicando los
            nuevos Términos en nuestro sitio web. El uso continuo del Servicio
            después de dichas modificaciones constituirá su aceptación de los
            nuevos Términos.
          </p>

          <br />
          <br />
          <h2 class="text-accent-500 mb-2 text-3xl">9. Ley Aplicable</h2>
          <p>
            Estos Términos se regirán e interpretarán de acuerdo con las leyes
            de [Tu Jurisdicción], sin tener en cuenta sus disposiciones sobre
            conflictos de leyes.
          </p>

          <br />
          <br />
          <h2 class="text-accent-500 mb-2 text-3xl">10. Contáctanos</h2>
          <p class="mb-12">
            Si tiene alguna pregunta sobre estos Términos, por favor contáctenos
            en <a href="mailto:administracion@ttncompany.com"
              >administracion@ttncompany.com
            </a>.
          </p>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
